<div id="contacts-wrapper">
    <div id="contacts-wrapper__content" class="scrollbar">
        <div id="contacts-wrapper__contact" ng-repeat="contact in $ctrl.contactList" ng-click="$ctrl.route(contact)">
            <div ng-bind="contact.name"></div>
            <div ng-bind="contact.email"></div>
        </div>
    </div>
    <div style="display: flex;width: 100%;flex-direction: row;">
        <ui-view name="messageView" style="width: 70%"></ui-view>
        <ui-view name="detailsView" style="width: 30%"></ui-view>
    </div>
</div>