.sidebar-wrapper {
    &__div {
        height: 100%;
        -webkit-box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.75);
        border-right: 2px solid #ebebeb;
        background-color: #2A2F32;
    }

    &__option {
        cursor: pointer;
        padding: 15px 10px;
        color: white;
    }

    &__selected {
        background-color: #222A2F;
    }
}